@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/type-scale' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400&display=swap');

:root {
	font-family: 'Poppins', sans-serif;

	@each $color, $shades in $colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	@each $screen-size, $font-size in $type-scale {
		@if ($screen-size == small) {
			@each $size, $value in $font-size {
				--fs-#{$size}: #{$value};
			}
		} @else {
			@include mq(medium) {
				@each $size, $value in $font-size {
					--fs-#{$size}: #{$value};
				}
			}
		}
	}

	// Padding for left and right
	--content-padding: 3rem;
	@include mq(small) {
		--content-padding: 5rem;
	}

	color: var(--clr-neutral-100);
	background-color: var(--clr-background-200);
	transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

	a {
		color: var(--theme-primary);
		text-decoration: none;
		transition: color 250ms ease-in-out;

		&:not(.btn):hover,
		&:not(.btn):focus {
			text-decoration: underline;
		}
	}

	.btn {
		display: inline-block;
		color: var(--clr-cta-100);
		border: 0.2rem solid var(--clr-cta-100);
		border-radius: 0.5rem;
		padding: 0.5rem 1rem;
		font-weight: 600;
		transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

		&:hover,
		&:focus {
			color: var(--clr-neutral-100) !important;
			background-color: var(--clr-cta-100) !important;
		}

		&--invert {
			color: var(--clr-neutral-100);
			background-color: var(--clr-cta-100);

			&:hover,
			&:focus {
				color: var(--clr-cta-100) !important;
				border: 0.2rem solid var(--clr-cta-100) !important;
				background-color: var(--clr-neutral-100) !important;
			}
		}
	}

	.pill {
		background-color: var(--clr-background-100);
		padding: 0.25rem 0.7rem;
		border-radius: 1em;
	}

	// Credit: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
	.sr-only {
		border: 0 !important;
		clip: rect(1px, 1px, 1px, 1px) !important;
		-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
		white-space: nowrap !important;
	}
}
